@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");

/* font-family: 'Open Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/

/* Set the box-sizing for all elements to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.splitBlock {
  display: flex;
}

.right-col{
  width: 40%;
  background-color: #0688bc;
  padding: 5%;
  color: #ffffff;
}

h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-family: "Unbounded", cursive;
}

h2 {
  margin-bottom: 30px;
  font-weight: 200;
}

h3{
  margin-bottom: 100px;
}

figure {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.button {
  margin-top: 30px;
}

.date{
  margin-bottom: 5px;
}

.right-col, .left-col{
  width: 85%;
}


/*
Responsive Web Design.
-----------------------
1024   - tablet
768    - phone
420    - phone portrait

*/

@media screen and (max-width: 1024px) {
  .container{
    font-size: 16px;
  }
  figure {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .button {
    padding-bottom: 50px;
  }

  .right-col, .left-col {
    width: 100%;
  }

  figure {
    height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .container {
    text-align: center;
  }
  figure {
    height: 300px;
  }
}
/*  */
